body{
    background-image: ;
    background-color: #6d6560;
    font-family: "sansation", sans-serif;
    margin: 0;
    padding: 40px 20px;
    color: #feffff;
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 100vh;

}

  .card{
    background-color: #2a2a2a85;
    box-shadow: 0 8px 8px rgb(0, 0, 0);
    padding: 20px; 
    max-width: 900px;
    border-radius: 20px;
    padding: 30px;
}  

.buttons{ 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer; 
}

button{
    background-color: #2a2a2a;
    color: #feffff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 8px 8px rgb(0, 0, 0);
    cursor: pointer;
}

button:hover{
    background-color: #2a2a2a85;
    color: #2a2a2a;
    transform: scale(1.05);
    cursor: pointer;
}

h1{
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
}

h2{
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
}

.introduction img{
    width: 100%;
    height: auto;
    max-width: 900px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
    filter: brightness(0.9);
    object-fit: cover;
    cursor: pointer;
}

:hover img{
    transform: scale(1.05);
    filter: brightness(1);
}

.introduction{
    margin: 0 auto;
    padding: 20px;
    max-width: 900px;
    text-align: left;
    background-color: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgb(0, 0, 0);
}

.types{
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    background-color: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgb(0, 0, 0);
    max-width: 900px;
}

footer{
    margin: 0 auto;;
    text-align: center;
    background-color: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgb(0, 0, 0);
    padding: 5px;
    max-width: 900px;
}